rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Dev rules — open access. Tighten for production.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
